<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Edit Task</title>
</head>
<body>
    <h1>Edit a Task</h1>
    <form action="/tasks/<%= task._id %>?_method=PUT" method="POST">
        <label for="name">Task</label>
        <input type="text" id="name" name="name" placeholder=" task name" value="<%= task.name %>">
        <label for="details">Description</label>
        <input type="text" id="details" name="details" placeholder="info" value="<%= task.details %>">
        <label for="level">Difficulty</label>
        <select name="level" id="level">
            <% for(let level of levels){ %>
                <option value="<%=level%>" <%=task.level === level ? 'selected': ''%>> <%=level%></option>
            <% } %> 
        </select>
        <button>submit</button>
    </form>
</body>
</html>